
body{
    margin: 0;
    padding: 0;
}.upbar{
    width: 100%;
    padding: 30px;
    background-color: rgb(143, 143, 239);
    color: white;
    text-align: center;
}
@keyframes anim {
    0%{
        color: brown;
        display: none;
    }    
    25%{
        color: rgb(3, 76, 3);
        
    }
    100%{
        color: rgb(3, 76, 3);
    }
}
table{
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    background-color: brown;
    color: white;
}
th{
    color: black;
}
table,th,td{
    border: 4px solid black;
}
.anima{
    animation: anim 2s linear infinite;

}